<div class="jumbotron">
<%= form_for @cyborg do |f| %>
	
		<% if @cyborg.errors.any? %>
		  <div id="error_explanation">
		    <ul>
		    <% @cyborg.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>

		<p>
			<%= f.label :name, "Name :" %>
			<%= f.text_field :name %>
		</p>

		<p>
			<%= f.label :email, "Email :" %>
			<%= f.text_field :email %>
		</p>

		<p>
			<%= f.submit "Create" %>
		</p>
		<p>
			<%= link_to "Back", cyborgs_path %>
		</p>
<% end %>
</div>