<section class="container">
	<div class= "panel-primary">
	<div class="panel-heading" align="center">
		<h1>List of Cyborgs</h1>
	</div>
	<div class="jumbotron">
	<table class="table">
		<tr>
			<th>Name</th><br>
			<th>Email</th>
		</tr>
		<% @cyborgs.each do |cyborg| %>
		<tr>
			<td><%= cyborg.name %></td>
			<td><%= cyborg.email %></td>
			<td><%= link_to 'Edit', edit_cyborg_path(cyborg) %></td>
			<td><%= link_to 'Delete', cyborg_path(cyborg), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		
		<% end %>
	</table>
	<div align="left"><%= link_to 'Add Cyborgs', new_cyborg_path, :class => "btn  btn-success" %>
		<%= link_to 'Back', root_path, :class => "btn btn-success" %>
	</div>
	</div>
	</div>

</section>