<section class="container continer-responsive">
<div class="panel-primary" align="center">
	<div class="panel-heading">
      <h1>Upload Zip</h1>
    </div>
    <div class="jumbotron">
	<%= form_for @uploadzipfile, :html => {:multipart => true} do |f| %>
		<div>
			<p>
			  <%= f.label :name, "Name : ", :class => "text-success" %>
			  <%= f.text_field :name %>
			</p>
		</div>
		
		<div>
			<p>
				<%= f.file_field :zipfile %>
			</p>
		</div>

		<div>
			<p>
			  <%= f.submit "Upload", :class => "btn btn-warning" %>
			  <%= link_to "Back", root_path, :class => "btn btn-warning " %>
			</p>
		</div>
		
	<% end %>
	<% if @uploadzipfile.errors.any? %>
			  <div id="error_explanation" class= "alert-danger">
			    <p>
			    <% @uploadzipfile.errors.full_messages.each do |msg| %>
			      <p><%= msg %></p>
			    <% end %>
			    </p>
			  </div>
		<% end %>
	</div>
</div>
</section>