<section class="container continer-responsive">
	<div class="panel-primary">
			<div class="panel-heading">
				<h1 align="center"><%= @uploadzipfile.name  %></h1>
			</div>
			<%= form_for @uploadzipfile, url: {action: :sendpayslips}, method: :post do |f| %> 
				
					<div class="panel-body jumbotron-new">
					 	<fieldset>
					    <table class="table">
					     	<% @uploadzipfile.listfiles.each_with_index do |file, index| %>
					     		<tr>
					     			<td class="text-success">
					     				<%= file %>
					     				<%= hidden_field_tag "mail[#{index}][file]", file %>
					     			</td>
										<td>
										<%= select_tag "mail[#{index}][employee]",  options_from_collection_for_select(@cyborgs, "id", "name", @cyborgs.first.id),  prompt: "select employee", :class => "text-danger" %>      
									    </td>
									   </tr>
					     	  <% end %>
					     </table>
					     <div>
					     	<%= submit_tag "Submit", :class => "btn btn-success normal" %>
					     	<%= link_to "Back", root_path, :class => "btn btn-success normal" %>
				       </div>
					  </fieldset>
				  </div>	
			
			<% end %>
	</div>
    
</section>

