<!DOCTYPE html>
<html>
<head>
  <title>ZipfilesSender</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <link href= "stylesheets/bootstrap.min.css" rel= "stylesheets" %>
  <link href= "stylesheets/bootstrap.css" rel= "stylesheets" %>
  <%= csrf_meta_tags %>
  <%= yield (:head) %>
</head>
<body>
<div id="container">
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		<%= content_tag :h1, yield(:title) if show_title? %>
	<%= yield %>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>

